<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Tables</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data table</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3"><h3>MarketForce Orders</h3></div>
          <a class="btn btn-light" routerLink="create">New Order</a>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2"><button class="btn btn-primary"><i class="link-icon mdi mdi-clipboard-text"></i>Orders</button></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="dataTableOrders" class="table">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
