<!-- Button trigger xl modal -->
<button class="btn btn-primary" (click)="openXlModal(xlModal)">Create Customer</button>
<!-- Modal -->
<ng-template #xlModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create Customer</h5>
    <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formCreateUser">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Company Name:</label>
            <input type="text" class="form-control" placeholder="Enter first name">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">First Name</label>
            <input type="text" class="form-control" placeholder="Enter last name">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter last name">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Address</label>
            <input type="text" class="form-control" placeholder="Address">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text" class="form-control" placeholder="Enter city">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">State</label>
            <input type="text" class="form-control" placeholder="Enter state">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Zip</label>
            <input type="text" class="form-control" placeholder="Enter zip code">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
        </div><!-- Col -->
        <div class="col-sm-6">
          <div class="form-group">
            <label class="control-label">Phone</label>
            <input type="number" class="form-control" autocomplete="off" placeholder="Phone">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
    </form>
    <button type="button" class="btn btn-primary submit">Submit form</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Save changes</button>
  </div>
</ng-template>
