:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_nav{
  height: 5.5em;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #004789;
  display: flex;
  justify-content: space-between;
  span{
    display: flex;
    align-items: center;
    img{
      margin-left: 20px;
      height: 50%;
    }
    .signup_btn{
      height: 100%;
      width: 150px;
      background-color: #00628f;
      border-radius: 0px;
      font-size: 16px;
      color: white;
      i{
        margin-right: 10px;
      }
    }
    .more{
      background-color: #00bdcd;
      font-size: 16px;
      color: white;
      height: 100%;
      width: 100px;
      border: none;
    }
  }
}

.login_container{
  margin-top: 5.5em;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20vw;
  img{
    padding-bottom: 7vh;
  }
}
input{
  border-radius: 15px;
}
.login_btn{
  width: 100%;
  background-color: #004789;
  color: white;
  border-radius: 15px;
}

.intro{
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1000;
  //Animation
  animation-name: fade-out;
  animation-fill-mode: both;
  animation-duration: 4s;
  .intro_content{
    height: 30vh;
    width: 30vw;
    img{
      //Animation
      animation-name: fade-in;
      animation-fill-mode: both;
      animation-duration: 2s;
    }
  }
}


@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
