<div  *ngIf="intro" class="intro">
  <span class="intro_content"><img src="./assets/images/mf-logo.svg" alt=""></span>
</div>
<div class="row">
  <nav class="container_nav">
    <span><img src="./assets/images/mf-white.svg" alt=""></span>
    <span class="actions">
      <button class="btn signup_btn"><i class="feather icon-user-plus"></i> Signup</button>
      <button class="more">
        <i class="feather icon-chevron-down"></i>
      </button>
    </span>
  </nav>
  <div class="login_container">
    <div class="logo-main">
      <img src="./assets/images/mf-logo.svg" alt="">
      <form class="forms-sample">
        <div class="form-group">
          <label for="exampleInputEmail1">User Name</label>
          <input type="email" [(ngModel)]="name" name="name" class="form-control" placeholder="User Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" autocomplete="current-password" placeholder="Password">
        </div>
        <div class="form-check form-check-flat form-check-primary">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            <i class="input-frame"></i>
            Remember my password
          </label>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn login_btn" (click)="onLoggedin($event)">Login</button>
        </div>

        <!--<ngb-alert #loginAlert *ngIf="msg" [dismissible]="true" [type]="'danger'" (closed)="msg = ''">
          {{ msg }}
        </ngb-alert>-->
      </form>
    </div>
  </div>

<!-- <div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pr-md-0">
          <div class="auth-left-wrapper">
            <img src="./assets/images/Market-Force.jpg" alt="" style="width: 100%;">
          </div>
        </div>
        <div class="col-md-8 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="noble-ui-logo logo-light d-block mb-2">MF BY MBS</a>
            <h5 class="text-muted font-weight-normal mb-4">Welcome, Log in to your account.</h5>
            <form class="forms-sample">
              <div class="form-group">
                <label for="exampleInputEmail1">User</label>
                <input type="email" [(ngModel)]="name" name="name" class="form-control" placeholder="User Name">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" autocomplete="current-password" placeholder="Password">
              </div>
              <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  <i class="input-frame"></i>
                  Remember me
                </label>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" (click)="onLoggedin($event)">Login</button>
                <a routerLink="/register" class="btn btn-outline-success btn-icon-text mb-2 mb-md-0">
                  Create New Account
                </a>
              </div>

              <ngb-alert #loginAlert *ngIf="msg" [dismissible]="true" [type]="'danger'" (closed)="msg = ''">
                {{ msg }}
              </ngb-alert>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
