.navbar-content{
  background-color: #004789;
  padding: 0;
  .navbar-nav{
    background-color: #00aaab;
    padding: 0 15px;
    .nav-item {
      .company{
        cursor: pointer;
        border: none;
        background: none;
        color: #fff;
        option{
          color: #004789;
        }
      }
    }
  }
}
