<div class="row w-100 mx-0 auth-page">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">With form validation</h6>

        <aw-wizard #wizardForm>

          <aw-wizard-step stepTitle="step 1">
            <form (ngSubmit)="form1Submit()" [formGroup]="validationForm1">

              <div class="form-group row">
                <label for="firstName" class="col-sm-3 col-form-label">First name</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="firstName" class="form-control" id="firstName" formControlName="firstName"
                  [ngClass]="{'is-invalid': isForm1Submitted && form1.firstName.errors}" placeholder="First name">
                  <div *ngIf="isForm1Submitted && form1.firstName.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="lastName" class="col-sm-3 col-form-label">Last name</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="lastName" class="form-control" id="lastName" formControlName="lastName"
                    [ngClass]="{'is-invalid': isForm1Submitted && form1.lastName.errors}" placeholder="Last name">
                  <div *ngIf="isForm1Submitted && form1.lastName.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="userName" class="col-sm-3 col-form-label">User name</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="userName" class="form-control" id="userName" formControlName="userName"
                  [ngClass]="{'is-invalid': isForm1Submitted && form1.userName.errors}" placeholder="User name">
                  <div *ngIf="isForm1Submitted && form1.userName.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" [(ngModel)]="email" class="form-control" id="email" formControlName="email"
                  [ngClass]="{'is-invalid': isForm1Submitted && form1.email.errors}" placeholder="Email">
                  <div *ngIf="isForm1Submitted && form1.email.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" [(ngModel)]="password" class="form-control" id="password" formControlName="password"
                  [ngClass]="{'is-invalid': isForm1Submitted && form1.password.errors}" placeholder="Password">
                  <div *ngIf="isForm1Submitted && form1.password.errors?.required; else second" class="invalid-feedback">
                    Required,
                  </div>
                  <ng-template #second>
                    <div *ngIf="isForm1Submitted && form1.password.errors?.minlength" class="invalid-feedback">
                      Password must be at least 8 characters long.
                    </div>
                  </ng-template>

                </div>
              </div>

              <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-primary" [disabled]="!validationForm1.valid" type="submit">Continue</button>
              </div>
            </form>
          </aw-wizard-step>

          <aw-wizard-step style="margin-top: 200px;" stepTitle="step 2">
            <form >

              <div class="form-group row">
                <label for="nameCompany" class="col-sm-3 col-form-label">Name company</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="nameCompany" class="form-control" id="nameCompany" formControlName="nameCompany"
                  [ngClass]="{'is-invalid': isForm2Submitted && form2.nameCompany.errors}" placeholder="Name Company">
                </div>
                <div *ngIf="isForm2Submitted && form2.nameCompany.errors?.required" class="invalid-feedback">
                  Required.
                </div>
              </div>
              <div class="form-group row">
                <label for="Abbreviation" class="col-sm-3 col-form-label">Abbreviation</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="abbreviation" class="form-control" id="abbreviation" formControlName="abbreviation"
                  [ngClass]="{'is-invalid': isForm2Submitted && form2.abbreviation.errors}" placeholder="Abbreviation">
                </div>
                <div *ngIf="isForm2Submitted && form2.abbreviation.errors?.required" class="invalid-feedback">
                  Required.
                </div>
              </div>
              <div class="form-group row">
                <label for="address" class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="address" class="form-control" id="address" formControlName="address"
                  [ngClass]="{'is-invalid': isForm2Submitted && form2.address.errors}" placeholder="Address">
                </div>
                <div *ngIf="isForm2Submitted && form2.address.errors?.required" class="invalid-feedback">
                  Required.
                </div>
              </div>
              <div class="form-group row">
                <label for="emailFrom" class="col-sm-3 col-form-label">Email From</label>
                <div class="col-sm-9">
                  <input type="email" [(ngModel)]="emailFrom" class="form-control" id="emailFrom" formControlName="emailFrom"
                  [ngClass]="{'is-invalid': isForm2Submitted && form2.emailFrom.errors}" placeholder="Email">
                  <div *ngIf="isForm2Submitted && form2.emailFrom.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="country" class="col-sm-3 col-form-label">Country</label>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="country" class="form-control" id="country" formControlName="country"
                    [ngClass]="{'is-invalid': isForm2Submitted && form2.country.errors}" placeholder="Country">
                    <div *ngIf="isForm2Submitted && form2.country.errors?.required" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="city" class="col-sm-3 col-form-label">City</label>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="city" class="form-control" id="city" formControlName="city"
                    [ngClass]="{'is-invalid': isForm2Submitted && form2.city.errors}" placeholder="City">
                    <div *ngIf="isForm2Submitted && form2.city.errors?.required" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="state" class="col-sm-3 col-form-label">State</label>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="state" class="form-control" id="state" formControlName="state"
                    [ngClass]="{'is-invalid': isForm2Submitted && form2.state.errors}" placeholder="City">
                    <div *ngIf="isForm2Submitted && form2.state.errors?.required" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="zip_code" class="col-sm-3 col-form-label">Zip Code</label>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="zip_code" class="form-control" id="zip_code" formControlName="zip_code"
                    [ngClass]="{'is-invalid': isForm2Submitted && form2.zip_code.errors}" placeholder="Zip Code">
                    <div *ngIf="isForm2Submitted && form2.zip_code.errors?.required" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                  <div class="col-sm-9">
                    <input type="number" [(ngModel)]="phone" class="form-control" id="phone" formControlName="phone"
                    [ngClass]="{'is-invalid': isForm2Submitted && form2.phone.errors}" placeholder="Phone">
                    <div *ngIf="isForm2Submitted && form2.phone.errors?.required" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="database" class="col-sm-3 col-form-label">Name DataBase</label>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="database" class="form-control" id="database" formControlName="database"
                    [ngClass]="{'is-invalid': isForm2Submitted && form2.database.errors}" placeholder="Phone">
                    <div *ngIf="isForm2Submitted && form2.database.errors?.required" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="webSite" class="col-sm-3 col-form-label">Web Site</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="webSite" class="form-control" id="webSite" formControlName="webSite"
                  [ngClass]="{'is-invalid': isForm2Submitted && form2.webSite.errors}" placeholder="Phone">
                  <div *ngIf="isForm2Submitted && form2.webSite.errors?.required" class="invalid-feedback">
                    Required
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label>Main Logo</label>
                  <input (change)="handleFileInput($event)" type="file" [(ngModel)]="file_logo" formControlName="file_logo" class="file-upload-default" id="file_logo">
                  <div class="input-group col-xs-6" (click)="openFileBrowser($event)">
                    <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                    </span>
                  </div>
                  <div *ngIf="isForm2Submitted && form2.file_logo.errors?.extension" class="invalid-feedback">
                    Logo is required.
                  </div>
                </div>
                <div class="col-sm-6">
                  <label>Orders Logo</label>
                  <input (change)="uploadOrderLogo($event)" type="file" [(ngModel)]="file_order" formControlName="file_order" class="file-upload-default" id="file_order">
                  <div class="input-group col-xs-6" (click)="openFileBrowserOrder($event)">
                    <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                    <span class="input-group-append">
                      <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                    </span>
                  </div>
                  <div *ngIf="isForm2Submitted && form2.file_order.errors?.extension" class="invalid-feedback">
                    Logo is required.
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-light mr-2" type="button" awPreviousStep>Back</button>
                <button class="btn btn-primary" type="submit">Continue</button>
              </div>
            </form>
          </aw-wizard-step>

          <aw-wizard-step stepTitle="finish">
            <div class="text-center">
              <i data-feather="check-circle" appFeatherIcon class="text-success mt-4 mb-2 icon-xxl"></i>
              <h3 class="text-muted mb-3">Thank you !</h3>
              <p class="w-75 mx-auto mb-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut nulla nunc. Maecenas arcu sem, hendrerit a tempor quis, sagittis accumsan tellus. In hac habitasse platea dictumst</p>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <button class="btn btn-light mr-2" type="button" awPreviousStep>Back</button>
              <button class="btn btn-success" type="button" (click)="finishFunction()">Finish</button>
            </div>
          </aw-wizard-step>

          <ngb-alert #dangerAlert *ngIf="msg" [dismissible]="true" [type]="'danger'" (closed)="msg = ''">
            {{ msg }}
          </ngb-alert>

        </aw-wizard>

      </div>
    </div>
  </div>
</div>

