<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="dashboard/orders/order">Orders</a></li>
    <li class="breadcrumb-item active" aria-current="page">Invoice</li>
  </ol>
</nav>
<hr>
<div class="row">
  <div class="col-md-3">
    <div class="logo_container">
      <img [src]="getLogo().url" width="80%">
    </div>
  </div>
  <div class="col-md-3">
    <div class="current_business">
        <!-- <h5>{{currentEnterprise.name}}</h5>
        <h5>{{currentEnterprise.address}}</h5>
        <h5>{{currentEnterprise.state}}, {{currentEnterprise.zip}}</h5>
        <h5>{{currentEnterprise.phone}}</h5> -->
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="description">Dealer</label>
      <select class="form-control" id="description" [(ngModel)]="dealer">
        <option *ngFor="let d of dealers" [ngValue]="d">{{ d.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="notes">Notes:</label>
      <textarea class="form-control" id="notes" rows="3" [(ngModel)]="notes" ></textarea>
    </div>
  </div>
  <div class="col-md-2 action_btn">
    <button class="btn btn-primary" (click)="saveNotes()">Save Note</button>
    <button class="btn btn-success" (click)="openModal(verticalCenteredModal)">Show Note</button>
  </div>
</div>
<hr>
<div class="form" id="mainForm">
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="firts_name">First Name</label>
                                <input type="text" class="form-control" id="first_name" autocomplete="off" placeholder="First Name" [(ngModel)]="dataOrder.firstName">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="lats_name">Last Name</label>
                                <input type="text" class="form-control" id="last_name" autocomplete="off" placeholder="Last Name" [(ngModel)]="dataOrder.lastName">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" autocomplete="off" placeholder="Address" [(ngModel)]="dataOrder.address">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" autocomplete="off" placeholder="City" [(ngModel)]="dataOrder.city">
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="state">State</label>
                            <select class="form-control" id="state" [(ngModel)]="dataOrder.state">
                              <option selected value="">Select your state</option>
                              <option *ngFor="let st of states" [value]="st">{{ st }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                            <label for="zip_code">Zip Code</label>
                            <input type="text" class="form-control" id="zip_code" autocomplete="off" placeholder="Zip Code" [(ngModel)]="dataOrder.zipCode">
                        </div>
                        <div class="col-md-6">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" autocomplete="off" placeholder="Phone" [(ngModel)]="dataOrder.phone">
                        </div>
                        <div class="col-md-6">
                          <label for="phone">Email</label>
                          <input type="text" class="form-control" id="email" autocomplete="off" placeholder="Phone" [(ngModel)]="dataOrder.email">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="description">Description</label>
                  <select class="form-control" id="description" [(ngModel)]="dataOrder.description">
                    <option selected value="">Select your description</option>
                    <option *ngFor="let des of descriptions" [value]="des">{{ des }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                  <label for="width">Width</label>
                  <input type="number" class="form-control" id="width" autocomplete="off" placeholder="Account" [(ngModel)]="dataOrder.width">
              </div>
              <div class="col-md-6">
                  <label for="roofL">Roof Length</label>
                  <input type="number" class="form-control" id="roofL" autocomplete="off" placeholder="Account" [(ngModel)]="dataOrder.roofL">
              </div>
              <div class="col-md-6">
                  <label for="frame">Frame Length</label>
                  <input type="number" class="form-control" id="frame" autocomplete="off" placeholder="Frame Length" [(ngModel)]="dataOrder.frame">
              </div>
              <div class="col-md-6">
                  <label for="legL">Leg Length</label>
                  <input type="number" class="form-control" id="legL" autocomplete="off" placeholder="Leg Length" [(ngModel)]="dataOrder.leg">
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="gauge">Gauge</label>
                  <select class="form-control" id="gauge" [(ngModel)]="dataOrder.gauge">
                    <option value="">Select your gauge</option>
                    <option *ngFor="let ga of gauges" [value]="ga.value">{{ ga.text }}</option>
                  </select>
                </div>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6 price_tag">
                <h4>Price</h4>
                <div class="price_box">
                  <h4>$</h4><input type="number" class="form-control" id="price" (keyup)="dataOrder.totalSale = dataOrder.price" placeholder="Price" [(ngModel)]="dataOrder.price">
                </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3>Colors</h3>
                <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="topColor">Tops</label>
                        <select class="form-control" id="topColor" [(ngModel)]="dataOrder.topColor">
                          <option selected value="">Select your color</option>
                          <option *ngFor="let color of colors" [value]="color.value">{{ color.text  }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="sideColor">Sides</label>
                        <select class="form-control" id="sideColor" [(ngModel)]="dataOrder.sideColor">
                          <option selected value="">Select your color</option>
                          <option *ngFor="let color of colors" [value]="color.value">{{ color.text }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="endsColor">Ends</label>
                        <select class="form-control" id="endsColor" [(ngModel)]="dataOrder.endsColor">
                          <option selected value="">Select your color</option>
                          <option *ngFor="let color of colors" [value]="color.value">{{ color.text  }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="trim">Trim</label>
                        <select class="form-control" id="trim" [(ngModel)]="dataOrder.trimColor">
                          <option selected value="">Select your color</option>
                          <option *ngFor="let color of colors" [value]="color.value">{{ color.text }}</option>
                        </select>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
              <h3>Options</h3>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="roof">Roof</label>
                    <select class="form-control" id="roof" [(ngModel)]="dataOrder.trimColor">
                      <option value="">Select your Roof</option>
                      <option *ngFor="let roof of roofs" [value]="roof.value">{{roof.text}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                      <label for="legL">Leg Length</label>
                      <input type="number" min="0" class="form-control" id="legL" (keyup)="validationLeg()"  [(ngModel)]="dataOrder.legLength">
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-6">
                  <div class="form-group order_div">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="aditional" name="aditional" id="aditional" [(ngModel)]="dataOrder.options.aditional">
                        <i class="input-frame"></i>
                        Additional Leg Height
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="addQty">Qty.</label>
                        <input type="number" min="0" class="form-control" id="addQty" [disabled]="((dataOrder.options.aditional != '') ? false : true)" (keyup)="calculateTotal('add')" [(ngModel)]="dataOrder.options.aditionalQty">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="addEach">Each</label>
                        <input type="number" min="0" class="form-control" id="addEach" [disabled]="((dataOrder.options.aditional != '') ? false : true)"  (keyup)="calculateTotal('add')" [(ngModel)]="dataOrder.options.aditionalEach">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="addTotal">Total</label>
                        <input type="number" min="0" class="form-control" id="addTotal" disabled [(ngModel)]="dataOrder.options.aditionalTotal" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-6">
                  <div class="form-group order_div">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="oneSide"  id="oneSide" value="one_sides" [(ngModel)]="dataOrder.options.side">
                        <i class="input-frame"></i>
                        One Side
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="bothSide"  id="bothSide" value="both_sides" [(ngModel)]="dataOrder.options.side">
                        <i class="input-frame"></i>
                        Both Side
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="sideQty">Qty.</label>
                        <input type="number" min="0" class="form-control" id="sideQty" [disabled]="((dataOrder.options.side != '') ? false : true)"  (keyup)="calculateTotal('side')"  [(ngModel)]="dataOrder.options.sideQty">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="sideEach">Each</label>
                        <input type="number" min="0" class="form-control" id="sideEach" [disabled]="((dataOrder.options.side != '') ? false : true)" (keyup)="calculateTotal('side')"  [(ngModel)]="dataOrder.options.sideEach">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-sideTotal">
                        <label for="account">Total</label>
                        <input type="number" min="0" class="form-control" id="sideTotal" disabled [(ngModel)]="dataOrder.options.sideTotal">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-6">
                  <div class="form-group order_div">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="oneEnd" id="oneEnd" value="one_end" [(ngModel)]="dataOrder.options.ends">
                        <i class="input-frame"></i>
                        One End
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="bothEnd" id="bothEnd" value="both_end" [(ngModel)]="dataOrder.options.ends">
                        <i class="input-frame"></i>
                        Both Ends
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="endQty">Qty.</label>
                        <input type="number" min="0" class="form-control" id="endQty" [disabled]="((dataOrder.options.ends != '') ? false : true)" (keyup)="calculateTotal('side')" (keyup)="calculateTotal('ends')" [(ngModel)]="dataOrder.options.endsQty">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="endEach">Each</label>
                        <input type="number" min="0" class="form-control" id="endEach" [disabled]="((dataOrder.options.ends != '') ? false : true)" (keyup)="calculateTotal('ends')" [(ngModel)]="dataOrder.options.endsEach">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="endTotal">Total</label>
                        <input type="number" min="0" class="form-control" id="endTotal"  disabled [(ngModel)]="dataOrder.options.endsTotal">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-6">
                  <h4>Gable Ends</h4>
                  <div class="form-group order_div">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gableSingle" id="gableSingle" value="single" [(ngModel)]="dataOrder.options.gable">
                        <i class="input-frame"></i>
                        Single
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gableDouble" id="gableDouble" value="double" [(ngModel)]="dataOrder.options.gable">
                        <i class="input-frame"></i>
                        Double
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="gabQty">Qty.</label>
                        <input type="number" min="0" class="form-control" id="gabQty" [disabled]="((dataOrder.options.gable != '') ? false : true)" (keyup)="calculateTotal('gab')" [(ngModel)]="dataOrder.options.gableQty">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="gabEach">Each</label>
                        <input type="number" min="0" class="form-control" id="gabEach" [disabled]="((dataOrder.options.gable != '') ? false : true)" (keyup)="calculateTotal('gab')" [(ngModel)]="dataOrder.options.gableEach">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="gabTotal">Total</label>
                        <input type="number" min="0" class="form-control" id="gabTotal" disabled [(ngModel)]="dataOrder.options.gableTotal">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="rollUp">Roll-Up Door</label>
                        <select class="form-control" id="rollUp" [(ngModel)]="dataOrder.options.rollUp">
                          <option *ngFor="let roll of rollups" [value]="roll.value">{{roll.text}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="rollColor">Color</label>
                        <select class="form-control" id="rollColor" [(ngModel)]="dataOrder.options.rollColor">
                          <option *ngFor="let color of colors" [value]="color.value">{{color.text}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="rollQty">Qty.</label>
                        <input type="number" min="0" class="form-control" id="rollQty" [disabled]="((dataOrder.options.rollUp != '') ? false : true)" (keyup)="calculateTotal('roll')" [(ngModel)]="dataOrder.options.rollQty">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="rollEach">Each</label>
                        <input type="number" min="0" class="form-control" id="rollEach" [disabled]="((dataOrder.options.rollUp != '') ? false : true)" (keyup)="calculateTotal('roll')" [(ngModel)]="dataOrder.options.rollEach">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="rollTotal">Total</label>
                        <input type="number" min="0" class="form-control" id="rollTotal" [(ngModel)]="dataOrder.options.rollTotal" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row rounded_div">
                <div class="col-md-6">
                  <div class="form-group">
                    <h4 for="roof">Wall-in Door</h4>
                    <select class="form-control" id="roof" [(ngModel)]="dataOrder.options.wall">
                      <option *ngFor="let wall of walls" [value]="wall.value">{{wall.text}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="wallQty">Qty.</label>
                        <input type="number" min="0" class="form-control" id="wallQty" [disabled]="((dataOrder.options.wall != '') ? false : true)" (keyup)="calculateTotal('wall')" [(ngModel)]="dataOrder.options.wallQty">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="wallEach">Each</label>
                        <input type="number" min="0" class="form-control" id="wallEach" [disabled]="((dataOrder.options.wall != '') ? false : true)" (keyup)="calculateTotal('wall')" [(ngModel)]="dataOrder.options.wallEach">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="wallTotal">Total</label>
                        <input type="number" min="0" class="form-control" id="wallTotal" [(ngModel)]="dataOrder.options.wallTotal" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-6">
                  <div class="form-group">
                    <h4>Window</h4>
                    <select class="form-control" id="roof" [(ngModel)]="dataOrder.options.window" >
                      <option *ngFor="let window of windows" [value]="window.value">{{window.text}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="account">Qty.</label>
                        <input type="number" min="0" class="form-control" id="account" [disabled]="((dataOrder.options.window != '') ? false : true)" (keyup)="calculateTotal('window')" [(ngModel)]="dataOrder.options.windowQty">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="account">Each</label>
                        <input type="number" min="0" class="form-control" id="account"[disabled]="((dataOrder.options.window != '') ? false : true)" (keyup)="calculateTotal('window')" [(ngModel)]="dataOrder.options.windowEach">
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="account">Total</label>
                        <input type="number" min="0" class="form-control" id="account" [(ngModel)]="dataOrder.options.windowTotal" disabled>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="instructions">Special Instructions:</label>
                    <textarea class="form-control" id="instructions" rows="5" [(ngModel)]="dataOrder.specialInstructions" ></textarea>
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-12">
                  <button class="btn btn-primary" (click)="addExtraItem()">Click here for aditional item</button>
                  <br>
                  <br>
                  <div class="content_items">
                    <div *ngFor="let item of extraItems; let inx = index">
                      <div class="form-group extra_item">
                        <input type="text" class="form-control" [(ngModel)]="extraItems[inx].item">
                        <input type="number" class="form-control" [(ngModel)]="extraItems[inx].qty" (keyup)="calculateExtraItems()">
                        <input type="number" class="form-control" [(ngModel)]="extraItems[inx].price" (keyup)="calculateExtraItems()">
                        <button class="btn btn-danger btn-icon-text" (click)="popExtraItem(inx)">Delete  <i class="mdi mdi-delete btn-icon-append"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-4">
                  <h4>Land Level</h4>
                  <div class="form-group order_div">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="yes">
                        <i class="input-frame"></i>
                        Yes
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="no">
                        <i class="input-frame"></i>
                        No
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="not_sure">
                        <i class="input-frame"></i>
                        Not Sure
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h4>Ready For Installation?</h4>
                  <div class="form-group order_div">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="yes">
                        <i class="input-frame"></i>
                        Yes
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="no">
                        <i class="input-frame"></i>
                        No
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h5>Electricity Available Within 100ft of Site?</h5>
                  <div class="form-group order_div">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="yes">
                        <i class="input-frame"></i>
                        Yes
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="no">
                        <i class="input-frame"></i>
                        No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rounded_div">
                <div class="col-md-6">
                  <h4>Installation Surface</h4>
                  <div class="form-group order_div">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="ground">
                        <i class="input-frame"></i>
                        Ground
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="concrete">
                        <i class="input-frame"></i>
                        Concrete
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="asphalt">
                        <i class="input-frame"></i>
                        Asphalt
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="gravel">
                        <i class="input-frame"></i>
                        Gravel
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <h4>I will make my final payment by:</h4>
                  <div class="form-group order_div">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="payment_cc">
                        <i class="input-frame"></i>
                        Cash
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="payment_cc">
                        <i class="input-frame"></i>
                        Check
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="payment_cc">
                        <i class="input-frame"></i>
                        CC
                      </label>
                    </div>
                    <div class="form-check" style="margin-left: 15px;">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios" value="payment_cc">
                        <i class="input-frame"></i>
                        P.O.
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
              <h3>ALL ORDERS C.O.D.</h3>
              <div class="form-group">
                <label for="account">Total Sale:</label>
                <input type="number" min="0" class="form-control" id="account" disabled  [(ngModel)]="dataOrder.totalSale">
              </div>
              <div class="form-group">
                <label for="account">Tax:</label>
                <input type="number" min="0" class="form-control" id="account" (keyup)="calculateTax()"  [(ngModel)]="dataOrder.tax">
              </div>
              <div class="form-group">
                <label for="account">Total:</label>
                <input type="number" min="0" class="form-control" id="account" disabled  [(ngModel)]="dataOrder.subtotal">
              </div>
              <div class="form-group">
                <label for="account">No Tax</label>
                <input type="number" min="0" class="form-control" id="account" (keyup)="calculateNoTax()" [(ngModel)]="dataOrder.noTax">
              </div>
              <div class="form-group">
                <label for="account">Deposit:</label>
                <input type="number" min="0" class="form-control" id="account" (keyup)="calculateDeposit()" [(ngModel)]="dataOrder.deposit">
              </div>
              <div class="form-group">
                <label for="account">Balance Due:</label>
                <input type="number" min="0" class="form-control" id="account" disabled [(ngModel)]="dataOrder.balance">
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="btn_container">
        <button class="btn btn-dark"(click)="saveOrder(confirmModal)" >Save as Order</button>
        <button class="btn btn-dark" (click)="saveOrder(confirmModal)">Save as Quote</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Notes-->
<ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">My Notes</h5>
    <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li *ngFor="let note of customNotes"><strong>{{note.dealer}}: </strong>{{note.note}} - ({{note.date}})</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
  </div>
</ng-template>

<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 style="text-align: center;">Register Success!</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
  </div>
</ng-template>
