.rounded_div{
  border:1px solid rgb(202, 202, 202);
  border-radius: .3em;
  margin-top: 15px;
  padding: 25px 10px;
}

.order_div{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  .form-check{
    margin-left: 15px;
  }
}
input, select, textarea{
  border: 1px solid rgb(161, 160, 160);
}
.btn_container{
  display: flex;
  justify-content: space-around;
}

.logo_container{
  border: 1px solid rgb(161, 160, 160);
  display: flex;
  justify-content: center;
}

.current_business{
  margin-top: 10%;
}

input[type="number"]{
  appearance: textfield;
}

.action_btn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.price_tag{
  padding: 15px 25px;
  color: #fff;
  background-color: #00639b;
  .price_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    h4{
      margin-right: 10px;
    }
  }
}

.extra_item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  input{
    margin-right: 15px;
  }
}
