<!-- Button trigger xl modal -->
<button class="btn btn-primary" (click)="openModalCreateDealer(ModalCreateDealer)">Create Dealer</button>
<!-- Modal -->
<ng-template #ModalCreateDealer let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create Dealer</h5>
    <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formCreateDealer">
      <h4>Dealer Details:</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Name of Business:</label>
            <input type="text" class="form-control" placeholder="Enter first name">
          </div>
        </div><!-- Col -->
        <div class="col-sm-8">
          <div class="form-group">
            <label class="control-label">Address</label>
            <input type="text" class="form-control" placeholder="Enter last name">
            <span class="badge badge-danger">PLEASE DO NOT ABBREVIATE ADDRESS INFORMATION
              (DR, ST, AVE, ETC)</span>
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text" class="form-control" placeholder="Enter city">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">State</label>
            <input type="text" class="form-control" placeholder="Enter state">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Zip</label>
            <input type="text" class="form-control" placeholder="Enter zip code">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Cell Phone</label>
            <input type="number" class="form-control" autocomplete="off" placeholder="Phone">
            <span class="badge badge-danger">(USED FOR SMS TEXT NOTIFICATIONS)</span>
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Business phone number</label>
            <input type="number" class="form-control" autocomplete="off" placeholder="Phone">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Fax Number</label>
            <input type="number" class="form-control" placeholder="Fax Number">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <h4>Mailing Address Info:</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <i class="input-frame"></i>
              Same as Physical Address
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Mailing Address</label>
            <input type="text" class="form-control" placeholder="Enter last name">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text" class="form-control" placeholder="Enter city">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">State</label>
            <input type="text" class="form-control" placeholder="Enter state">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Zip</label>
            <input type="text" class="form-control" placeholder="Enter zip code">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <h4>About The Business:</h4>
      <div class="row">
        <div class="col-sm-3">
          <p for="">This Business's Property is:</p>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios1" id="optionsRadios1" value="option5" checked="">
                <i class="input-frame"></i>
                Owned
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios1" id="optionsRadios2" value="option5">
                <i class="input-frame"></i>
                Leased/Rented
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Lease Expiration Date</label>
            <div class="input-group" (click)="d.toggle()">
              <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="selectedDate" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-light btn-icon calendar" type="button">
                  <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                </button>
              </div>
            </div>
            <span class="badge badge-danger">(USED FOR SMS TEXT NOTIFICATIONS)</span>
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" class="form-control" placeholder="Email">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">WebSite</label>
            <input type="text" class="form-control" placeholder="WebSite">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Years In Business</label>
            <input type="number" class="form-control" placeholder="WebSite">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">Number Of Locations</label>
            <input type="Number" class="form-control" placeholder="Number Of Location">
          </div>
        </div><!-- Col -->
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">EIN #</label>
            <input type="Number" class="form-control" placeholder="EIN #">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Contact 1</label>
            <input type="text" class="form-control" placeholder="Contact 1">
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Email 1</label>
            <input type="text" class="form-control" placeholder="Email 1">
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Contact 2</label>
            <input type="text" class="form-control" placeholder="Contact 2">
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Email 2</label>
            <input type="email" class="form-control" placeholder="Email 2">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-3">
           <div class="form-group">
            <label class="control-label">Number Of Full Time Employees</label>
            <input type="number" class="form-control" >
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
           <div class="form-group">
            <label class="control-label">Number Of Part Time Employees</label>
            <input type="number" class="form-control" >
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
           <div class="form-group">
            <label class="control-label">Business Owner's Name</label>
            <input type="text" class="form-control" >
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Owners Home Address</label>
            <input type="text" class="form-control" >
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text" class="form-control" >
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">State</label>
            <input type="text" class="form-control" >
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Zip Code</label>
            <input type="number" class="form-control" >
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Owner's Cell Number</label>
            <input type="number" class="form-control" maxlength="10" >
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Owner's Alt. Phone Number</label>
            <input type="text" class="form-control"  maxlength="10">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <h4>Office Info:</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">Dealer Loated On Main Road?</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosOffice" id="optionsRadios2" value="option5" checked="">
                <i class="input-frame"></i>
                Yes
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosOffice" id="optionsRadios3" value="option5" >
                <i class="input-frame"></i>
                No
              </label>
            </div>
          </div>
        </div><!-- Col -->
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="control-label">Visibility From The Main Road Is</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosVisibility" id="optionsRadios4" value="option5" checked="">
                <i class="input-frame"></i>
                Poor
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosVisibility" id="optionsRadios5" value="option5" >
                <i class="input-frame"></i>
                Good
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosVisibility" id="optionsRadios6" value="option5" >
                <i class="input-frame"></i>
                Great
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosVisibility" id="optionsRadios7" value="option5" >
                <i class="input-frame"></i>
                Excellent
              </label>
            </div>
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">Display Space Avalible</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosDisplay" id="optionsRadios8" value="option5" checked="">
                <i class="input-frame"></i>
                Large
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosDisplay" id="optionsRadios9" value="option5" >
                <i class="input-frame"></i>
                Medium
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosDisplay" id="optionsRadios10" value="option5" >
                <i class="input-frame"></i>
                Small
              </label>
            </div>
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">Is The Dealer Currently Selling For Another Company</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosSell" id="optionsRadios11" value="option5" checked="">
                <i class="input-frame"></i>
                No
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosSell" id="optionsRadios12" value="option5" >
                <i class="input-frame"></i>
                Yes
              </label>
            </div>
          </div>
        </div><!-- Col -->
        <div class="col-sm-5">
          <div class="form-group">
            <label class="control-label">If Yes, Who</label>
            <input type="text" class="form-control" >
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">Is There A Sales Area Dedicated To The Sales Of Buildings?</label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosBulding" id="optionsRadios13" value="option5" checked="">
                <i class="input-frame"></i>
                Yes
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadiosBulding" id="optionsRadios14" value="option5" >
                <i class="input-frame"></i>
                No
              </label>
            </div>
          </div>
        </div><!-- Col -->
        <div class="col-sm-5">
          <div class="form-group">
            <label class="control-label">If Yes, Where</label>
            <input type="text" class="form-control" >
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">What Other Realed Products Does This Location Sell?</label>
            <input type="text" class="form-control">
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">What Dealers Are Within 15 Miles Of This Location?</label>
            <input type="text" class="form-control">
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Recommend RTO Programs?</label>
            <select class="form-control form-control-sm mb-3" >
              <option value="default">Select One...</option>
              <option value="No">No</option>
              <option value="Yes, have sold over 20,000 in carports">Yes, have sold over 20,000 in carports</option>
              <option value="Yes, existing RTO Dealer  with a competitor">Yes, existing RTO Dealer  with a competitor</option>
            </select>
          </div>
        </div><!-- Col -->
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">BBB Rating</label>
            <input type="text" class="form-control">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="control-label">Mantra</label>
            <input type="text" class="form-control">
          </div>
        </div><!-- Col -->
      </div><!-- Row -->
    </form>
    <button type="button" class="btn btn-primary submit">Submit form</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">Save changes</button>
  </div>
</ng-template>
