
.sidebar{

  .sidebar-header{
    background-color: #004789;
    color: #fff;
    .sidebar-toggler{
      span{
        background-color:#fff;;
      }
    }
  }
  .sidebar-body{
    background-color: #cce1f5;
  }
}
