<div class="container">
  <div class="row">
    <div id="htmlData">
      <h2>Lista de videojuegos en stock</h2>
      <table class="table table-bordered mt-4">
        <tr class="table-primary">
          <th>Id</th>
          <th>Name</th>
          <th>Platform</th>
          <th>Reference</th>
        </tr>
        <tr *ngFor="let game of VIDEOGAMES">
          <th>{{game.id}}</th>
          <td>{{game.name}}</td>
          <td>{{game.platform}}</td>
          <td>{{game.reference}}</td>
        </tr>
      </table>

      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Data Table</h6>
          <div class="table-responsive">
            <table id="dataTableOrders" class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Platform</th>
                  <th>Reference</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let game of VIDEOGAMES">
                  <th>{{game.id}}</th>
                  <td>{{game.name}}</td>
                  <td>{{game.platform}}</td>
                  <td>{{game.reference}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div>
  <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div>
